/* TODO: merge with winampStyles.css and remove when old UI is discontinued */
.visual-refresh {
    #vc-winamp-player {
        padding: 12px;
        background: var(--bg-overlay-floating, var(--background-base-low, var(--background-base-lower-alt)));
        margin: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .vc-winamp-song-info-prefix {
        display: none;
    }

    .vc-winamp-artist,
    .vc-winamp-album {
        color: var(--header-primary);
    }

    .vc-winamp-secondary-song-info {
        font-size: 12px;
    }

    #vc-winamp-progress-bar {
        position: relative;
        color: var(--text-default);
        width: 100%;
    }

    #vc-winamp-progress-bar > [class^="slider"] {
        flex-grow: 1;
        margin: 0 8px;
    }

    #vc-winamp-progress-bar > [class^="slider"] [class^="bar"] {
        background: var(--background-secondary);
        border-radius: 2px;
        height: 4px;
    }

    #vc-winamp-progress-bar > [class^="slider"] [class^="barFill"] {
        background: var(--text-default);
        border-radius: 2px;
    }

    #vc-winamp-progress-bar > [class^="slider"]:hover [class^="barFill"] {
        background: var(--brand-500);
    }

    #vc-winamp-progress-bar > [class^="slider"] [class^="grabber"] {
        background: var(--text-default);
        border-radius: 10px;
        height: 10px;
        width: 10px;
        margin-left: -5px;
        margin-top: -3px;
    }

    .vc-winamp-progress-time {
        font-size: 12px;
        color: var(--text-muted);
        margin: 0 8px;
    }

    .vc-winamp-button-row {
        justify-content: center;
    }

    .vc-winamp-button {
        color: var(--interactive-normal);
    }

    .vc-winamp-repeat-playlist,
    .vc-winamp-repeat-track,
    .vc-winamp-shuffle-on {
        color: var(--brand-500);
    }

    .vc-winamp-repeat-playlist:hover,
    .vc-winamp-repeat-track:hover,
    .vc-winamp-shuffle-on:hover {
        color: var(--brand-600);
    }
}
